html, body {
    height: 100%;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
}

header {
    padding: 0 16px;
    background: #FFECDA;
    min-height: 40px;
    border:0;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
}

.header-content {
    padding: 0;
}

.header-content .top-menu {
       width: 100%;
       display: flex;
       justify-content: space-between;
       position: relative;
}

.header-content .top-menu .logo-left {
    display: flex;
    align-items: center;
    padding: 2px 30px;
    border-radius: 4px;
}

.logo-left img {
    max-height: 70px;
    width: auto;
}

.nav-navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.nav-navbar li {
     list-style-type: none;
}

.search-field {
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
}

.header-search {
     width: 300px;
     vertical-align: middle;
     white-space: nowrap;
}

.header-search input {
    width: 300px;
    height: 50px;
    background: #ffffff;
    border: none;
    font-size: 10pt;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.header-search .search-icon {
    position: absolute;
    top: 35%;
    margin-left: 17px;
    z-index: 1;
    color: #4f5b66;
}

.notification {
    margin-left: 20px;
    margin-right: 20px;
}

.notification button{
    border: 0;
    cursor: pointer;
    -webkit-border-radius: 5px;
    background: transparent;
    transition-duration: 0.4s;
}

.notification button:hover {
    background-color: #FECEA8;
    color: white;
}

.notification-icon {
    display: flex;
    width: 40px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.account {
    margin-left: 20px;
    margin-right: 20px;

}

.account button {
    border: 0;
    cursor: pointer;
    -webkit-border-radius: 5px;
    background: transparent;
}

.account-item {
    justify-content: center;
    align-items: center;
}

.account  img {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.content {
    min-height: 100%;
    position: fixed;
    width: 100%;

}

.left-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.left-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s, left 0.3s;
    z-index: 600;
    width: 220px;
    top: var(--header-height, 0px);
    background-color: #F5F5F5;
    transform: translate3d(0, 0, 0);
    min-height: 100%;
}

.left-menu li {
   margin: 0;
   padding: 30px 30px;
   font-family: 'Nunito', sans-serif;
   transition-duration: 0.4s;
   font-size: 18px;
}

.left-menu li:hover {
    background-color: #e0e0e5;
}

.left-menu a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.schedule-board {
     margin-left: 220px;
     min-height: 100%;
     min-width:calc (100vw - 30em);
     position: absolute;
}

.week-switch {
    display: flex;
    margin: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.switch-buttons {
    display: flex;
    width: 40px;
    height: 33px;
    align-items: center;
    justify-content: center;
}

.back-switch {
    padding: 0 10px;
    transition-duration: 0.4s;
    text-align:center;
    border-radius: 100%;
    cursor: pointer;
}

.back-switch:hover {
    background-color: #e0e0e5;
}

.next-switch {
    padding: 0 10px;
    transition-duration: 0.4s;
    border-radius: 100%;
    cursor: pointer;
}

.next-switch:hover {
    background-color: #e0e0e5;
}

.selected-week {
    margin: 0 20px;
    text-align: center;
    font-size: 24px;
}

.schedule-table {
    margin: 10px 20px;
    width: calc (100vw - 30em);
    height: 100%;
    overflow-x: auto;
}

.table-header {
    width: 100%;
    margin-left: 70px;
}

.columns-header {
    display: flex;
    width: 100%;

}

.dayweek-column {
    width: 300px;
    min-width: 81px;
    text-align: center;
    align-items: center;
    margin:0 10px 0 0;
}

.dayweek-column .dayweek-name {
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
}

.dayweek-number {
   font-size: 36px;
   border-radius: 100%;
   cursor: pointer;
   position:relative;
}

.table-content{
    display: flex;
    position: relative;
    height: calc(100vh - 21em);
    overflow-x: hidden;
    overflow-y: scroll;
}

.table-rows {
    width: 100%;
    height: 100%;
}

.row-time {
    height: 48px;
    display: flex;
    width: 100%;
    margin: 0 20px 10px 0;
}

.row-time .hour {
    font-size: 20px;
    margin: 10px;
    align-items: center;
}

.d {
    width: 100%;
    display: flex;
    margin: 0 10px 0 0;
    min-height: 48px;

}

.days-h {
    border: 1px solid black;
    display: flex;
    width: 300px;
    min-width: 81px;
    min-height: 48px;
    margin: 0 10px 10px 0;
    padding: 0;
    cursor: pointer;
    background: white;
    transition-duration: 0.4s;

}

.days-h:hover {
    background-color: #F5F5F5;
}
